[submodule "bittensor"]
	path = backend/bittensor
	url = https://github.com/opentensor/bittensor.git
	branch= master
[submodule "subtensor"]
	path = subtensor
	url = https://github.com/commune-ai/subtensor.git
	branch= master
[submodule "backend/cubit"]
	path = backend/cubit
	url = https://github.com/opentensor/cubit.git

[submodule "backend/cortex"]
	path = backend/cortex
	url = https://github.com/opentensor/cortex.git
	branch = dataset
[submodule "backend/ocean.py"]
	path = backend/ocean.py
	url = https://github.com/commune-ai/ocean.py
