[submodule "bittensor"]
	path = backend/bittensor
	url = https://github.com/opentensor/bittensor.git
	branch= master
[submodule "subtensor"]
	path = subtensor
	url = https://github.com/opentensor/subtensor.git
	branch= master
[submodule "backend/cubit"]
	path = backend/cubit
	url = https://github.com/opentensor/cubit.git

[submodule "backend/ocean.py"]
	path = backend/ocean.py
	url = https://github.com/commune-ai/ocean.py.git
	branch = wip/richard/input_dataset

[submodule "backend/ipfspy"]
	path = backend/ipfspy
	url = https://github.com/commune-ai/ipfspy.git
	
[submodule "backend/ipfsspec"]
	path = backend/ipfsspec
	url = https://github.com/commune-ai/ipfsspec.git
[submodule "backend/diffusers"]
	path = backend/diffusers
	url = https://github.com/commune-ai/diffusers.git
